body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);

  padding-top: 16px;
  padding-bottom: 16px;
}
.header-div {
  display: flex;
}
.menu-open-btn {
  background-color: transparent;
  border: none;

  padding: 0px;

  display: block;
  margin-left: auto;
}

.icon-icon-m {
  /* text-align: left; */
}
.mod-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  padding-top: 24px;
  padding-left: 16px;
  padding-bottom: 40px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.is-close {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-close-btn {
  display: block;
  margin-left: auto;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-icon-m {
  width: 100%;
  height: 100%;
  fill: #2e2f42;
  display: block;
  margin: 0 auto;
}
.mod-ul {
  display: flex;
  flex-wrap: wrap;
  width: 151px;
  height: 200px;
  gap: 40px;
  margin-bottom: 70px;
}
.mod-li-li {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.mod-li {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mod-adress-ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.mod-adress-a {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}
.mod-adress-a-a {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}
.modal-ul {
  display: flex;
  gap: 40px;
}
.modal-ul-li {
  width: 40px;
  height: 40px;
}
.modal-ul-li-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-ul-li-a-svg {
  fill: #f4f4fd;

  /* border-radius: 50%; */
}
/* --------------------------------- */
.container {
  /* width: 1158px;
  margin: 0 auto;
  padding: 0 15px; */
  width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.nav {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-left: 0;
}
p {
  margin: 0;
  padding-left: 0;
}
ul {
  list-style: none;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
.logo-header {
  padding-top: 24px 0;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.logo-h {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.nav-ul {
  display: none;
  gap: 40px;
}
.adress {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: auto;
  display: none;
  align-items: center;
  justify-content: center;
}

.adress-a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px 0;
  display: block;
}
.adress-a:hover {
  color: #404bbf;
}
.adress-a:focus {
  color: #404bbf;
}
.adress-ul {
  display: flex;
  gap: 40px;
}
.nav-li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.nav-li-li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.nav-li:hover {
  color: #404bbf;
}
.nav-li:focus {
  color: #404bbf;
}
.current {
  color: #404bbf;
}

.nav-li-li::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-section {
  background-color: #2e2f42;
  padding: 72px 0;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .header-section {
    background-color: #2e2f42;
    padding: 72px 0;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mob.jpg);
  }
}

.header-section-h {
  width: 216px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  max-width: 496px;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 111%;
}

.btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  border-radius: 4px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  background-color: #404bbf;
}
.btn:focus {
  background-color: #404bbf;
}
.section-two {
  padding: 96px 0;
}
.icon-icon1 {
  background-size: cover;
}
.icon-icon-li {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-two-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.section-two-li {
  /* width: calc((100% - 72px) / 4); */
  /* padding-bottom: 72px; */
}
.section-two-div-div {
  display: flex;
}
.section-two-h {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;

  letter-spacing: 0.02em;
  color: #2e2f42;
  /* margin-bottom: 8px; */
  padding-bottom: 8px;

  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-two-p {
  font-family: "Roboto", sans-serif;

  color: #434455;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.section-three {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-three-h {
  margin-bottom: 72px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.section-three-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.section-three-li {
  background-color: #ffffff;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.img-comment-div {
  padding: 32px 0;
  gap: 8px;
  width: 232px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  flex-direction: column;
}
.img-comment-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
  margin: 0 auto;
}

.img-comment-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
  margin: 0 auto;
}
.contaner-b-name-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.contaner-b-name-ul-li {
  width: 40px;
  height: 40px;
}
.ul-li-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ul-li-a:hover {
  background-color: #404bbf;
}
.ul-li-a:focus {
  background-color: #404bbf;
}
.ul-li-a-svg {
  color: #4d5ae5;
}
.ul-li-a-svg {
  fill: #f4f4fd;
}

.section-four {
  padding-top: 96px;
  padding-bottom: 96px;
}
.section-four-hh {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.section-four-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.section-four-li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 288px;
}
.section-four-li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-four-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-four-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-four-coment {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.c-ul-li-card {
  position: relative;
  overflow: hidden;
}
.c-ul-li-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.c-ul-li-p {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-four-li:hover .c-ul-li-p {
  transform: translateY(0%);
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;

  text-align: center;
}
.footer-div {
  display: flex;
  flex-wrap: wrap;

  gap: 72px;
}
.container-logo-p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 320px;
}
.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  display: inline-block;
  margin-bottom: 16px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  display: inline-block;
}
.footer-p {
  display: flex;
  justify-content: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  width: 288px;
}

.container-link-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.container-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 320px;
}
.contaner-name-ul {
  display: flex;
  gap: 16px;
}
.contaner-name-ul-li {
  width: 40px;
  height: 40px;
}

.contaner-ul-li-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contaner-ul-li-a:hover {
  background-color: #31d0aa;
}
.contaner-ul-li-a:focus {
  background-color: #31d0aa;
}
.contaner-ul-li-a-svg {
  fill: #f4f4fd;
}
.cnatainer-subscribe-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;

  text-align: center;

  margin-bottom: 16px;
}
.container-subscribe-form {
  display: flex;
  gap: 24px;

  align-items: center;
  flex-direction: column;
}

.container-subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.container-subscribe-input::placeholder {
  color: #ffffff;
}
.btn-sub {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.btn-svg {
  margin-left: 16px;
}
.container-subscribe {
  /* margin-left: 80px; */
  width: 320px;
}

.class-label {
}
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  padding: 72px 24px 24px 24px;
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 584px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.btn-modal:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.btn-modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-svg:hover {
  fill: #ffffff;
}
.btn-modal-svg:focus {
  fill: #ffffff;
}
.modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-div {
  margin-bottom: 8px;
}
.label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-input-icon {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment {
  margin-bottom: 16px;
}
.textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus {
  border-color: #4d5ae5;
}
.modal-checkbox {
  margin-bottom: 24px;
}
.label-user-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.custom-span {
  color: #4d5ae5;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal-svg-icon {
}
.btn-modal-a {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-checkbox:checked + .label-user-privacy > .custom-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.label-user-privacy-m {
  color: #4d5ae5;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1128px) {
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header-section {
    padding: 112px 0;
    max-width: 1127px;
    margin: 0 auto;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .header-section {
      background-color: #2e2f42;
      padding: 112px 0;

      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-plan.jpg);
    }
  }

  .header-section-h {
    width: 500px;
    margin-bottom: 33px;
    font-size: 56px;
    line-height: 107%;
  }
}

@media screen and (min-width: 1128px) {
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header-section {
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .header-section {
      background-color: #2e2f42;
      padding: 188px 0;

      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-desk.jpg);
    }
  }

  .header-section-h {
    width: 500px;
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 107%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .section-two-li {
    width: calc((100% - 24px) / 2);
    padding-right: 24px;
    padding-bottom: 72px;
  }
  .section-two-h {
    display: block;
  }
  .section-two-ul {
    gap: 0px;
  }
}
@media screen and (min-width: 1128px) {
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .section-two {
    padding-top: 120px 0;
  }
  .section-two-li {
    width: calc((100% - 72px) / 4);
    padding-bottom: 72px;
  }
  .icon-icon-li {
    display: flex;
  }
  .section-two-ul {
    gap: 24px;
  }
  .section-two-li {
    padding-right: 0px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .section-three-ul {
    gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .section-three-ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .section-three-li {
    width: 264px;
    flex: 0 0 264px;
    box-sizing: border-box;
  }
  .section-three {
    background-color: #f4f4fd;
    padding: 120px 0;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .section-four-ul {
    row-gap: 0px;
  }
  .section-four-li {
    width: calc((100% - 24px) / 2);
    margin-bottom: 72px;
  }
  .section-four-ul li:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .section-four-ul {
    row-gap: 0px;
  }
  .section-four-li {
    width: calc((100% - 48px) / 3);
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .container-subscribe {
    width: 453px;
  }
  .container-subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .cnatainer-subscribe-p {
    text-align: justify;
  }
  .container-link {
    display: flex;
    flex-direction: column;
    margin-bottom: 104px;
  }
  .container-link-p {
    text-align: justify;
  }
  .container-logo-p {
    width: 264px;
    text-align: justify;

    margin-bottom: 72px;
    justify-content: flex-start;
  }
  .logo {
    text-align: left;
  }
  .logo-footer {
    text-align: justify;
  }

  .footer-div {
    gap: 0 24px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .footer-div {
    flex-wrap: nowrap;
    gap: 0;
    justify-content: center;
    align-items: baseline;
  }
  .container-logo-p {
    margin-right: 120px;
    margin-left: 156px;
  }
  .footer-p {
    max-width: 264px;
    margin: 0 auto;
  }
  .container-link {
    display: block;
    width: 208px;
  }
  .container-subscribe {
    padding-left: 0px;
    margin-left: 80px;
    margin-right: 159px;
  }
}
/* ----------------------------------------- */

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
  .nav-ul {
    display: flex;
  }
  .adress {
    display: flex;
  }
  .adress-ul {
    flex-direction: column;
    gap: 12px;
  }
  .adress-a {
    padding: 0;
  }
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1158px) {
  .adress-ul {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1158px) {
  .modal {
    width: 408px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}
